<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>商务短信平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Coderthemes" name="author"/>
    <!-- App favicon -->
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}">

    <!-- App css -->
    <link th:href="@{assets/css/icons.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/app.min.css}" rel="stylesheet" type="text/css"/>

</head>

<body>

<!-- Topbar Start -->
<header th:replace="commons/index :: commonBar"></header>
<!--Topbar end-->

<div class="container-fluid">

    <!-- Begin page -->
    <div class="wrapper">
        <header th:replace="commons/index :: commonHeader"></header>
        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <!-- Start Content-->

        <div class="content-page">
            <div class="content">

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-lg-8">
                                        <form id="myFrom">
                                            <div class="custom-file">
                                                <input type="text"  hidden="hidden" name="messageType" value="02">
                                                 <textarea class="form-control" id="phoneNum" rows="6" name="phoneNumStr" hidden="hidden"
                                                           placeholder="发送手机号，不能为空"></textarea>

                                                <label class="custom-file-label" for="inputGroupFile04">TXT
                                                    导入并上传</label>
                                                <input type="file" class="custom-file-input" id="inputGroupFile04"
                                                       onchange='openFile(event)'>

                                            </div>

                                            <div class="mt-3">
                                                <label for="phoneContent">短信内容：(通道[70]字计费，长短信[67]字计费，已输入[<span
                                                        id="textCount">0</span>]字，按[<span id="Count">0</span>]条计费)
                                                </label>
                                                <textarea class="form-control" id="phoneContent" rows="6"
                                                          name="phoneContent"
                                                          placeholder="发送短信内容，不能为空"></textarea>
                                            </div>

                                            <div class="mt-3" style="padding-left: 62%">

                                                <button type="button" class="btn btn-warning" style="margin-left: 10px"
                                                        onclick="clearPhone('phoneContent')">清空内容
                                                </button>
                                            </div>

                                            <div class="mt-3">


                                                <div class="col-sm-4">
                                                    <label for="sendTimeSelect">发送时间</label>
                                                    <select class="form-control" id="sendTimeSelect"
                                                            onchange="changeShowTime()" name="sendTime">
                                                        <option value="2">立即发送</option>
                                                        <option value="3">定时发送</option>

                                                    </select>

                                                    <div class="mt-3" style="display: none;" id="dingshi">
                                                        <input type="text" class="form-control" data-toggle="input-mask"
                                                               data-mask-format="00/00/0000 00:00:00" maxlength="19"
                                                               name="sendTimeTask">
                                                        <span class="font-13 text-muted">输入格式 "DD/MM/YYYY HH:MM:SS"</span>
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-primary mb-2"
                                                        style="margin-left: 80%" onclick="sendMessage()">发送消息
                                                </button>


                                            </div>


                                        </form>



                                    </div>

                                </div> <!-- end row -->

                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col -->
                </div>
                <!-- end row -->

            </div> <!-- content -->


        </div> <!-- content-page -->
        <!-- Footer Start -->
        <footer th:replace="commons/index :: commonFooter"></footer>
        <!-- end Footer -->

    </div> <!-- end wrapper-->

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


</div>
<!-- END Container -->


<!-- App js -->
<script th:src="@{/assets/js/app.min.js}"></script>
<script th:src="@{/assets/js/commons/index.js}"></script>
<script type="text/javascript">


    let baseUrl = "/commonly/message/"


    function show() {
        $("#event-modal").modal("show");

    }

    function sendMessage() {
        event.preventDefault()
        debugger
        $.ajax({
            type: 'POST',
            url: 'send/generalMessage',
            data: $('#myFrom').serialize(),

            success: function (response) {

                debugger
                alert(response.msg)

            },

        })

    }


    $('#phoneContent').bind('input propertychange', function () {

        document.getElementById("textCount").innerHTML = $(this).val().length;
        document.getElementById("Count").innerHTML = Math.ceil($(this).val().length / 70).toString();
    });


    function changeShowTime() {
        debugger
        const selectElement = $("#sendTimeSelect option:selected").val()
        if (selectElement == 3) {
            $("#dingshi").attr("style", "display:block;");//显示div
        } else {
            $("#dingshi").attr("style", "display:none;");
        }
    }

    function clearPhone(id) {
        document.getElementById(id).value = ""

    }

    const openFile = function (event) {
        debugger
        const input = event.target;
        const reader = new FileReader();
        reader.onload = function () {
            if (reader.result) {
                //显示文件内容
                $("#phoneNum").html(reader.result);
            }
        };
        reader.readAsText(input.files[0]);
    };


</script>
</body>

</html>